h1 {
  color: red;
  background-color: rosybrown;
  height: 40px;
  width: 40%;
}

p {
  color: #fa8072;
  font-size: 40px;
  font-weight: 800;
  font-family: sans-serif;
}

img {
  width: 50%;
}

#abc {
  font-size: 40px;
  color: burlywood;
}

.firend {
  background-color: darkblue;
  color: coral;
}

.rrr {
  color: red;
}

.booo {
  background-color: lightcyan;
}
